@import "pure";

html, body, #root {
  font-weight: 100;
  height: 100%;
  width: 100%;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.vote-button {
  .center-block;
  .animate-resize;
  height: 49%;
  padding-bottom: 1%;
}

li a.in_progress {
  background-color: #0068e0;
  color: #000;
  
  &:hover,&:focus {
    background-color: #0057BC;
  }
}

div {
  .analytics {
    display: block;
  }

  #checkbox {
    float: left;
  }

  #stats {
    float: right;
  }

  .stats_root {
    border: 2px solid grey;
    border-radius: 0.5em;
  }
  
  .stats_label {
    border-bottom: 1px solid #AAAAAA;
    padding: 5px;
  }

  .stats_value_area {
    text-align: right;
  }

  .stats_value {
    padding: 5px;
    display: inline-block;
  }
}

#analytics_root {
  #chart_container {
    width: 100%;
    height: 40%;
  }
  #data_container {
    width: 100%;
    height: 60%;
  }
}

#vote-back {
  height: 100%;
  padding-left: 2%;
}

.animate-resize {
  transition-property: width height;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

//Fixes for iOS
.fix-onclick {
  cursor: pointer;
}

* {
  .animate-resize;
}

#login-logo {
  @media screen and (min-height: @screen-sm-h) {
    height: (@screen-sm-h/2);
  }
  @media screen and (min-height: @screen-md-h) {
    height: (@screen-md-h/2);
  }
  @media screen and (min-height: @screen-lg-h) {
    height: (@screen-lg-h/2);
  }
  @media screen and (min-height: @screen-xl-h) {
    height: (@screen-xl-h/2);
  }
  @media screen and (max-height: @screen-sm-h) {
    height: (@screen-sm-h/4);
  }
}
