//4:3 aspect ratio, as the squarest android ratio.
@sample-aspect-ratio: 1.33;

@screen-sm-w: 35.5em;
@screen-sm-h: (@screen-sm-w * @sample-aspect-ratio);
@screen-md-w: 48em;
@screen-md-h: (@screen-md-w * @sample-aspect-ratio);
@screen-lg-w: 64em;
@screen-lg-h: (@screen-lg-w * @sample-aspect-ratio);
@screen-xl-w: 80em;
@screen-xl-h: (@screen-xl-w * @sample-aspect-ratio);

